.hero {
    margin-top: 15%;
}

.scenario {
    background: ghostwhite;
    padding: 2px 10px;
}

img {
    max-width: 100%;
}

p {
    text-align: justify;
}

ol, ul {
    margin-left: 5%;
}

#mapid {
    height: 400px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    height: auto;
}

.nav li {
    float: left;
    margin-bottom: 0px;
}

.nav li a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    color: black; 
}

.right {
    float: right !important;
}

.nav li a:hover {
    background-color: #ececec; 
}

.active {
    background-color: #4CAF50 !important;
    color: #fff !important;
}

@media screen and (max-width: 600px){
    .nav li.right, 
    .nav li {float: none !important;}
}
